<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Eastz_AutoShipment::menu" title="Auto Shipment" module="Eastz_AutoShipment" sortOrder="100" resource="Magento_Backend::content" />
        <add id="Eastz_AutoShipment::settings" title="ShipAny Settings" module="Eastz_AutoShipment" sortOrder="10" parent="Eastz_AutoShipment::menu" action="adminhtml/system_config/edit/section/shipany_config" resource="Eastz_AutoShipment::config" />
    </menu>
</config>